.accordion#stories-accordion{'ng-controller' => 'StoryFormCtrl'}
  .accordion-group
    .accordion-heading
      = form_tag '', class: 'form-inline', name: 'new_story_form' do
        = text_field_tag :display_name,  nil, class: 'input-xxlarge', 'ng-model' => 'story.display_name',
                                              placeholder: 'Name', 'ng-required' => true
        %button.btn.btn-primary{'ng-disabled' => 'new_story_form.$invalid', 'ng-click' => 'submit()'}
          %span.add-on
            .icon-plus

%accordion
  %accordion-group{'ng-repeat' => 'story in stories'}
    %accordion-heading
      {{story.display_name}}

      %button.btn.btn-danger.btn-mini.pull-right{'ng-click' => 'remove($index)'}
        %span.add-on
          .icon-minus

    .story-tickets
      = render 'templates/tickets/tickets'
