- today_data  = log_data[Date.today.strftime('%A').downcase]
- today_hours = today_data.sum(&:amount) if today_data.present?

- if today_data.present? && current_user.hours_of_work > today_hours
  .alert
    %strong
      Missing hours!!
    You need to enter #{convert_to_hours_format(current_user.hours_of_work - today_hours)} hours for today.


%ul.nav.nav-tabs
  - (Date.today.beginning_of_week..Date.today).to_a.reverse.each do |day|

    - day_name = day == Date.today ? 'Today' : day.strftime('%A')
    - link_name = day.strftime('%A').downcase

    %li{ class: "#{ 'active' if day == Date.today }"}= link_to day_name, "##{link_name}", 'data-toggle' => 'tab'

