
%h1
  = link_to 'stories', '/'
  \ -> 
  {{story.name}}

.well.well-mini
  %h4 New Ticket
  = render 'templates/tickets/form'

%h2 Tickets

%table.table.table-bordered
  %thead
    %th Ticket
    %th Description
    %th Actions
  %tbody
    %tr{'ng-repeat' => 'ticket in tickets'}
      %td
        {{ticket.name | showValueOrNone}}
      %td
        {{ticket.description | showValueOrNone}}
      %td