%h3 Quién sos?

= simple_form_for :user, url: select_users_path, html: {class: 'form-horizontal'}  do |f|
  = f.select :id, options_from_collection_for_select(@users, :id, :name)
  = f.submit 'Entrar', class: 'btn btn-primary'