%table.table.table-bordered
  %thead
    %th.span3 Ticket
    %th.span4 Description
    %th.span1 Quantity
    %th.span2 User
    %th.span1 Tag
    %th.span1 Actions
  %tbody
    %tr{'ng-repeat' => 'worked_hour in worked_hours'}
      %td
        {{worked_hour.ticket.display_name | showValueOrNone}}
      %td
        {{worked_hour.description | showValueOrNone}}
      %td
        {{worked_hour.amount | hoursAndMinutes}}
      %td
        = link_to '{{worked_hour.user.name}}', '/users/{{worked_hour.user.id}}'
      %td
        %span.label {{worked_hour.tag.name}}
      %td
        = link_to '#', class: 'btn btn-mini btn-danger', 'ng-click' => 'remove($index)' do
          Delete
          %i.icon-remove
