.alert.alert-block
  %h4 Info:
  You have worked {{sumHours() | hoursAndMinutes}} hours this day.

%table.table.table-bordered
  %thead
    %th.span3 Ticket
    %th.span4 Description
    %th.span1 Quantity
    %th.span2 User
    %th.span1 Tag
    %th.span1 Actions
  %tbody
    %tr{'ng-repeat' => 'worked_hour in worked_hours'}
      %td
        {{worked_hour.ticket.display_name | showValueOrNone}}
      %td
        .non-editable{'ng-hide' => 'worked_hour.editing'}
          {{worked_hour.description | showValueOrNone}}
        .editable{'ng-show' => 'worked_hour.editing'}
          %input.input-large{'ng-model' => 'worked_hour.description'}
      %td
        .non-editable{'ng-hide' => 'worked_hour.editing'}
          {{worked_hour.amount | hoursAndMinutes}}
        .editable{'ng-show' => 'worked_hour.editing'}
          %input.input-mini{'ng-model' => 'worked_hour.amount'}
      %td
        {{worked_hour.user.name}}
      %td
        %span.label {{worked_hour.tag.name}}
      %td
        .non-editable{'ng-hide' => 'worked_hour.editing'}
          = link_to '#', class: 'btn btn-mini btn-primary', 'ng-click' => 'worked_hour.editing=true;' do
            %i.icon-edit

          = link_to '#', class: 'btn btn-mini btn-danger', 'ng-click' => 'remove($index)' do
            %i.icon-remove

        .editable{'ng-show' => 'worked_hour.editing'}
          = link_to '#', class: 'btn btn-mini btn-primary', 'ng-click' => 'update($index)' do
            %i.icon-ok
