/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require select2
 *= require_tree .
 */

table
  input
    margin-bottom: 0 !important

.tabbable
  .badge-white
    margin-top: -2px

.badge-white
  background-color: white !important
  color: rgb(0, 136, 204) !important

[ng-cloak], [data-ng-cloak], .ng-cloak
  display: none !important

.current-top-button-wrapper
  margin-bottom: 15px
  display: inline-block

.gray
  background-color: rgb(249, 249, 249)

.green
  color: green

.red
  color: red

.invested
  font-weight: bold

.totals
  font-weight: bold
  background-color: rgb(223, 240, 216)

.new-record-button
  margin-top: 17px

.range-worked-hours-form
  margin-bottom: 0

#sprint-context-selector
  margin-top: 5px

table
  &.without-marging
    margin: 0
  td
    &.without-padding
      padding: 0 !important
  th
    input
      margin: 0 !important

  th, td
    &.tag-hours
      width: 5%
    &.estimations
      width: 10%
    &.display_name
      word-break: break-word
      width: 30%
