form.form-inline
  div.control-group
    display: inline-block
    
    div.controls
      display: inline-block

#worked-hours-index
  .tabbable
    ul.nav
      width: 130px
      float: left
    a
      cursor: pointer

    .tab-content
      padding-left: 20px

#worked-hours-wrapper
  .input-append
    margin: 0 0 15px 150px